<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pupukkaltim.pkthighlight">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChooseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin.ProduksiAdmin" />
        <activity android:name=".Admin.KeuanganAdmin" />
        <activity android:name=".Admin.PenjualanAdmin" />
        <activity android:name=".Admin.LainAdmin" />
        <activity android:name=".User.KeuanganUser" />
        <activity android:name=".User.LainUser" />
        <activity android:name=".User.PenjualanUser" />
        <activity android:name=".User.ProduksiUser" />
        <activity android:name=".UserActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginAdmin" />
        <activity android:name=".subuser.produksi.tonase.Tonase" />
        <activity android:name=".subuser.produksi.konsumsi.Konsumsi" />
        <activity android:name=".subuser.produksi.downtime.Downtime" />
        <activity android:name=".subuser.produksi.onstream.onstream"/>
        <activity android:name=".subuser.penjualan.stok.stok" />
        <activity android:name=".subuser.penjualan.tonase.tonasePenjualan" />
        <activity android:name=".subuser.keuangan.LR.LabaRugi" />
        <activity android:name=".subuser.keuangan.kas.PosisiKas" />
        <activity android:name=".subuser.keuangan.pinjaman.Pinjaman" />
        <activity android:name=".subuser.keuangan.hpp.HPP" />
        <activity android:name=".subuser.lain.download.Download" />
        <activity android:name=".subuser.lain.komoditas.Komoditas" />
        <activity android:name=".subadmin.keuangan.hpp.HPPAdmin" />
        <activity android:name=".subadmin.keuangan.kas.PosisiKasAdmin" />
        <activity android:name=".subadmin.keuangan.LR.LabaRugiAdmin" />
        <activity android:name=".subadmin.keuangan.pinjaman.PinjamanAdmin" />
        <activity android:name=".subadmin.penjualan.stok.stok"/>
        <activity android:name=".subadmin.penjualan.tonase.tonase"/>
        <activity android:name=".subadmin.lain.download.DownloadAdmin"/>
        <activity android:name=".subadmin.lain.komoditas.KomoditasAdmin"/>
        <activity android:name=".subadmin.produksi.downtime.downtimeAdmin"/>
        <activity android:name=".subadmin.produksi.konsumsi.konsumsiProduksiAdmin"/>
        <activity android:name=".subadmin.produksi.onstream.onStreamAdmin"/>
        <activity android:name=".subadmin.produksi.tonase.TonaseProduksiAdmin"/>
    </application>
</manifest>